@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --verde-principal: #01C38D;
    --azul-medio: #132D46;
    --azul-medio-claro: #191e294d;
    --azul-escuro: #191E29;
    --cinza-texto: #696E79;
    --verde-escuro: #002E2D;
    --branco: #edefe8;
    --roxo: #8a4488;
    --borda-card: rgba(141, 141, 141, 0.202);
    --gradient-verde-fade: linear-gradient(90deg, var(--azul-escuro) 0%, var(--verde-principal) 50%, var(--azul-escuro) 100%);
  }
  

*{
    text-decoration: none;
    list-style: none;
    font-family: "Montserrat", "Poppins" , sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0;
    background-color: var(--azul-escuro);
    padding: 0; 
    overflow-x: hidden;
    max-width: 1280px;
  }

  .background-blur {
    position: absolute;
    inset: 0;
    z-index: -1;
  }
  
  .blur-circle-1,
  .blur-circle-2,
  .blur-circle-3 {
    position: absolute;
    border-radius: 9999px;
    filter: blur(100px);
  }
  
  .blur-circle-1 {
    top: 25%;
    left: 25%;
    width: 24rem;
    height: 24rem;
    background-color: rgba(1, 195, 140, 0.261);
    filter: blur(100px);
  }
  
  .blur-circle-2 {
    bottom: 33%;
    right: 25%;
    width: 16rem;
    height: 16rem;
    background-color: rgba(0, 46, 45, 0.222);
    filter: blur(80px);
  }
  
  .blur-circle-3 {
    top: 5rem;
    right: 5rem;
    width: 8rem;
    height: 8rem;
    background-color: rgba(1, 195, 140, 0.201);
    filter: blur(50px);
  }

  header nav .container-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 15vh;
    padding-inline: 40px;
  }
  
  header nav .container-nav .menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }
  
  header nav .container-nav .logo {
    width: auto;
    height: 3rem;
  }

.section-container {
    width: 100%;
  }


button {
  cursor: pointer;
  position: relative;
  padding: 5px 20px;
  font-size: 18px;
  color: var(--verde-principal);
  border: 1px solid var(--verde-principal);
  border-radius: 34px;
  background-color: transparent;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  box-shadow: 0px 0px 10px var(--verde-principal);
}

button::before {
  content: '';
  position: absolute;
  inset: 0;
  margin: auto;
  border-radius: inherit;
  scale: 0;
  z-index: -1;
  background-color: var(--verde-principal);
  transition: all 0.3s ease-in-out;
}

button:hover::before {
  scale: 3;
}

button:hover {
  color: var(--branco);
  scale: 1.1;
  box-shadow: 0 0px 20px var(--verde-principal);
}

button:active {
  scale: 1;
}
  
.section-hero {
  display: flex;
  justify-content: center;
  width: 1280px;
  height: 100vh;
}

.container-hero {
  width: 1200px;
  height: 100vh;
  display: flex;
}

.container-hero .slogan {
  width: 400px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding-inline: 10px;
}

.container-hero .slogan .divisor{
  width: 350px;
  height: 0px;
}

.container-hero .slogan .divisor hr {
  border: none;
  height: 4px; 
  background: var(--gradient-verde-fade);
  width: 100%;
  margin: 0 auto;
  display: block;
  border-radius: 60px;
}

.container-hero .slogan h1{
  color: var(--branco);
  font-weight: 800;
  font-size: 60px;
  line-height: 0.1;
}

.container-hero .slogan h1 span{
  color: var(--verde-principal);
  font-weight: 800;
}

.container-hero .slogan p{
  position: relative;
  color: var(--cinza-texto);
  font-size: 14px;
  transition: color 0.3s ease;
  display: inline-block;
}

.container-hero .slogan p:hover {
  color:  var(--branco);
}

.container-hero .beneficios {
  width: 600px;
  height: 200px;
}

.container-hero .beneficios .items{
  height: 100px;
  display: flex;
  gap: 10px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.container-hero .beneficios .items .item{
  width: 500px;
  height: 100px;
  gap: 10px;
  display: flex;
  justify-content: start;
  align-items: center;
  line-height: 1;
  transition: all 0.3s ease;
}

.container-hero .beneficios .items .textos h2{
  font-size: 14px;
  font-weight: 800;
  color: var(--branco);
}

.container-hero .beneficios .items .textos p{
  font-size: 12px;
  color: var(--cinza-texto);
}

.beneficios .items .item .icon {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: var(--verde-principal);
  background-color: var(--azul-medio);
}

.beneficios .items .item:hover {
  transform: scale(1) rotate(2deg);
}


.container-hero .cadastro {
  width: 600px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

 .buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

 .buttons .item{
  display: flex;
  justify-content: center;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.container-hero .passos {
  width: 600px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: initial;
}

.container-hero .passos .card {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 450px;
  padding: 20px;
  background-color: var(--azul-medio);
  border-radius: 20px;
}

.container-hero .passos .card .carrosel{
  width: 450px;
  height: 100px;
  padding: 20px;
  border-radius: 20px;
  border: 1px solid var(--borda-card);
  background-color: var(--azul-medio-claro);
  transition: all 0.3s ease-in-out;
}

.container-hero .passos .card .carrosel .textos{
  line-height: 1.0;
}

.container-hero .passos .card .carrosel .textos h3{
  color: var(--branco);
  font-weight: 800;
}

.container-hero .passos .card .carrosel .textos p{
  color: var(--cinza-texto);
}

.container-hero .passos .card .carrosel .container-ponto{
  width: 50px;
  display: flex;
  gap: 10px;
}

.container-hero .passos .card .carrosel .ponto{
  width: 10px;
  height: 10px;
  background-color: var(--cinza-texto);
  border-radius: 9999px;
}

.container-hero .passos .card .carrosel .ponto1{
  width: 10px;
  height: 10px;
  background-color: var(--verde-principal);
  border-radius: 9999px;
}

 .container-hero .passos .card .items{
  width: 500px;
  height: 500px;
} 

.container-hero .passos .card .item{
  height: 80px;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
} 

.container-hero .passos .card .item .icon{
  width: 50px;
  height: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--verde-principal);
  background-color: var(--azul-escuro);
} 

.container-hero .passos .card .item .icon span{
font-weight: bold;
} 

.container-hero .passos .card .item .conteudo{
  width: 450px;
  height: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: start;
  align-items: center;
  border: 1px solid var(--borda-card);
  padding: 5px;
  background-color: var(--azul-medio-claro);
} 

.container-hero .passos .card .item .conteudo p{
  color: var(--cinza-texto);
  transition: all 0.3s ease-in-out;
} 

.container-hero .passos .card .item .conteudo p:hover{
  color: var(--branco);
} 

.section-como-funciona {
  background-color: #c3b601;
  display: flex;
  justify-content: center;
  width: 1280px;
  height: 100vh;
}

.container-como-funciona {
  background-color: #c301c3;
  width: 1200px;
  height: 100vh;
}

.section-profissionais {
  background-color: #01c379;
  display: flex;
  justify-content: center;

  width: 1280px;
  height: 100vh;
}

.container-profissionais {
  background-color: #0121c3;
  width: 1200px;
  height: 100vh;
}

.section-clientes {
  background-color: #3bc12f;
  display: flex;
  justify-content: center;

  width: 1280px;
  height: 100vh;
}

.container-clientes {
  background-color: #e18916;
  width: 1200px;
  height: 100vh;
}

.section-sobre {
  background-color: #4fa2c3;
  display: flex;
  justify-content: center;

  width: 1280px;
  height: 100vh;
}

.container-sobre {
  background-color: #d716e1;
  width: 1200px;
  height: 100vh;
}

.section-contato {
  background-color: #881643;
  display: flex;
  justify-content: center;

  width: 1280px;
  height: 100vh;
}

.container-contato {
  background-color: #433d43;
  width: 1200px;
  height: 100vh;
}

footer {
  width: 1280px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.img-footer{
  width: 200px;
  display: flex;
  justify-content: center;
}

.img-footer img{
  width: auto;
  padding: 10px;
  height: 3rem;
}

.menu-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
}

.list-footer {
  gap: 70px;
  display: flex;
  flex-direction: row;
  color: var(--cinza-texto);
}


.divisor{
  width: 100%;
  height: 33px;
}

.divisor hr {
  border: none;
  height: 2px; 
  background: var(--gradient-verde-fade);
  width: 100%;
  margin: 0 auto;
  display: block;
  border-radius: 60px;
}

.texto-efeito {
  position: relative;
  color: var(--cinza-texto);
  font-size: 16px;
  transition: color 0.3s ease;
  padding-bottom: 4px;
  display: inline-block;
}

.texto-efeito:hover {
  color:  var(--verde-principal);
}

.texto-efeito{
  position: relative;
}

.texto-efeito::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  background-color: var(--verde-principal);
  transition: 0.3s ease;
}

.texto-efeito:hover::after {
  width: 100%;
}

.texto-efeito span {
  position: relative;
}

.texto-efeito .seutempo {
  color: var(--verde-principal);
}