@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --verde-principal: #01C38D;
    --azul-medio: #132D46;
    --azul-medio-claro: #191e294d;
    --azul-escuro: #191E29;
    --cinza-texto: #696E79;
    --verde-escuro: #002E2D;
    --branco: #edefe8;
    --roxo: #8a4488;
    --borda-card: rgba(141, 141, 141, 0.202);
    --gradient-verde-fade: linear-gradient(90deg, var(--azul-escuro) 0%, var(--verde-principal) 50%, var(--azul-escuro) 100%);
  }
  

*{
    text-decoration: none;
    list-style: none;
    font-family: "Montserrat", "Poppins" , sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-style: normal;
}

a {
  color: var(--verde-principal);
}

body {
    margin: 0;
    background-color: var(--azul-escuro);
    padding: 0; 
    overflow-x: hidden;
    max-width: 1280px;
  }

  .background-blur {
    position: absolute;
    inset: 0;
    z-index: -1;
  }
  
  .blur-circle-1,
  .blur-circle-2,
  .blur-circle-3 {
    position: absolute;
    border-radius: 9999px;
    filter: blur(100px);
  }
  
  .blur-circle-1 {
    top: 25%;
    left: 25%;
    width: 24rem;
    height: 24rem;
    background-color: rgba(1, 195, 140, 0.261);
    filter: blur(100px);
  }
  
  .blur-circle-2 {
    bottom: 33%;
    right: 25%;
    width: 16rem;
    height: 16rem;
    background-color: rgba(0, 46, 45, 0.222);
    filter: blur(80px);
  }
  
  .blur-circle-3 {
    top: 5rem;
    right: 5rem;
    width: 8rem;
    height: 8rem;
    background-color: rgba(1, 195, 140, 0.201);
    filter: blur(50px);
  }

  header nav .container-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 15vh;
    padding-inline: 40px;
  }
  
  header nav .container-nav .menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }
  
  header nav .container-nav .logo {
    width: auto;
    height: 3rem;
  }

.section-container {
    width: 100%;
  }


button {
  cursor: pointer;
  position: relative;
  padding: 5px 20px;
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 18px;
  color: var(--verde-principal);
  border: 1px solid var(--verde-principal);
  border-radius: 34px;
  background-color: transparent;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  box-shadow: 0px 0px 10px var(--verde-principal);
}

button::before {
  content: '';
  position: absolute;
  inset: 0;
  margin: auto;
  border-radius: inherit;
  scale: 0;
  z-index: -1;
  background-color: var(--verde-principal);
  transition: all 0.3s ease-in-out;
}

button:hover::before {
  scale: 3;
}

button:hover {
  color: var(--branco);
  scale: 1.1;
  box-shadow: 0 0px 20px var(--verde-principal);
}

button:hover a{
  color: var(--branco);
}

button:active {
  scale: 1;
}
  
.section-hero {
  display: flex;
  justify-content: center;
  width: 1280px;
  height: 100vh;
}

.container-hero {
  width: 1200px;
  height: 100vh;
  display: flex;
}

.container-hero .slogan {
  width: 400px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding-inline: 10px;
}

.container-hero .slogan .divisor{
  width: 350px;
  height: 0px;
}

.container-hero .slogan .divisor hr {
  border: none;
  height: 4px; 
  background: var(--gradient-verde-fade);
  width: 100%;
  margin: 0 auto;
  display: block;
  border-radius: 60px;
}

.container-hero .slogan h1{
  color: var(--branco);
  font-weight: 800;
  font-size: 60px;
  line-height: 0.1;
}

.container-hero .slogan h1 span{
  color: var(--verde-principal);
  font-weight: 800;
}

.container-hero .slogan p{
  position: relative;
  color: var(--cinza-texto);
  font-size: 14px;
  transition: color 0.3s ease;
  display: inline-block;
}

.container-hero .slogan p:hover {
  color:  var(--branco);
}

.container-hero .beneficios {
  width: 600px;
  height: 200px;
}

.container-hero .beneficios .items{
  height: 100px;
  display: flex;
  gap: 10px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.container-hero .beneficios .items .item{
  width: 500px;
  height: 100px;
  gap: 10px;
  display: flex;
  justify-content: start;
  align-items: center;
  line-height: 1;
  transition: all 0.3s ease;
}

.container-hero .beneficios .items .textos h2{
  font-size: 14px;
  font-weight: 800;
  color: var(--branco);
}

.container-hero .beneficios .items .textos p{
  font-size: 12px;
  color: var(--cinza-texto);
}

.beneficios .items .item .icon {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: var(--verde-principal);
  background-color: var(--azul-medio);
}

.beneficios .items .item:hover {
  transform: scale(1) rotate(2deg);
}


.container-hero .cadastro {
  width: 600px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

 .buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

 .buttons .item{
  display: flex;
  justify-content: center;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.container-hero .passos {
  width: 600px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: initial;
}

.container-hero .passos .card {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 450px;
  padding: 20px;
  background-color: var(--azul-medio);
  border-radius: 20px;
}

.container-hero .passos .card .carrosel{
  width: 450px;
  height: 100px;
  padding: 20px;
  border-radius: 20px;
  border: 1px solid var(--borda-card);
  background-color: var(--azul-medio-claro);
  transition: all 0.3s ease-in-out;
}

.container-hero .passos .card .carrosel .textos{
  line-height: 1.0;
}

.container-hero .passos .card .carrosel .textos h3{
  color: var(--branco);
  font-weight: 800;
}

.container-hero .passos .card .carrosel .textos p{
  color: var(--cinza-texto);
}

.container-hero .passos .card .carrosel .container-ponto{
  width: 50px;
  display: flex;
  gap: 10px;
}

.container-hero .passos .card .carrosel .ponto{
  width: 10px;
  height: 10px;
  background-color: var(--cinza-texto);
  border-radius: 9999px;
}

.container-hero .passos .card .carrosel .ponto1{
  width: 10px;
  height: 10px;
  background-color: var(--verde-principal);
  border-radius: 9999px;
}

 .container-hero .passos .card .items{
  width: 500px;
  height: 500px;
} 

.container-hero .passos .card .item{
  height: 80px;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
} 

.container-hero .passos .card .item .icon{
  width: 50px;
  height: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--verde-principal);
  background-color: var(--azul-escuro);
} 

.container-hero .passos .card .item .icon span{
font-weight: bold;
} 

.container-hero .passos .card .item .conteudo{
  width: 450px;
  height: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: start;
  align-items: center;
  border: 1px solid var(--borda-card);
  padding: 5px;
  background-color: var(--azul-medio-claro);
} 

.container-hero .passos .card .item .conteudo{
  color: var(--cinza-texto);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
} 

.container-hero .passos .card .item .conteudo:hover{
  color: var(--branco);
} 

.section-como-funciona {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1280px;
  height: 100vh;
}

.container-como-funciona {
  width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.container-como-funciona h1 {
  color: var(--branco);
  font-size: 36px;
  font-weight: 800;
}

.container-como-funciona p {
  color: var(--cinza-texto);
  font-size: 16px;
  max-width: 700px;
  text-align: center;
}

.cards-funciona {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.card-funciona {
  width: 250px;
  height: 200px;
  padding: 20px;
  background-color: var(--azul-medio);
  border-radius: 20px;
  border: 1px solid var(--borda-card);
  box-shadow: 0 0 10px rgba(1, 195, 140, 0.05);
  transition: all 0.3s ease-in-out;
}

.card-funciona:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(1, 195, 140, 0.1);
}

.card-funciona h3 {
  color: var(--verde-principal);
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;

  text-align: center;
}

.card-funciona p {
  color: var(--cinza-texto);
  font-size: 14px;
}

.card-funciona .icon-number {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  margin-bottom: 15px;
}

.card-funciona .icon {
  width: 40px;
  height: 40px;
  background-color: var(--azul-escuro);
  color: var(--verde-principal);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-size: 24px;
}

.card-funciona .number {
  font-size: 24x;
  font-weight: 700;
  color: var(--branco);
  background-color: var(--azul-escuro);
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}



.section-profissionais {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 1280px;
}

.container-profissionais {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1200px;
}

.tag {
  background-color: var(--verde-principal);
  color: var(--azul-escuro);
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 13px;
  font-weight: 600;
}


.tag-verde {
  color: var(--verde-principal);
  font-weight: 600;
  text-transform: uppercase;
  font-size: 13px;
}

.header-profissionais h1 {
  color: var(--branco);
  font-size: 36px;
  font-weight: 800;
  margin: 10px 0;
}

.header-profissionais p {
  color: var(--cinza-texto);
  font-size: 15px;
  max-width: 700px;
}

.filtros {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
  justify-content: center;
}

.filtros span {
  padding: 6px 14px;
  background-color: var(--azul-medio);
  color: var(--branco);
  font-size: 13px;
  border-radius: 20px;
  cursor: pointer;
}

.icon-beneficio {
  font-size: 28px;
  color: var(--verde-principal);
  margin-bottom: 10px;
}

.cards-beneficios {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 25px;
  
  width: 100%;
  margin-top: 30px;
}

.card-beneficio {
  background-color: var(--azul-medio);
  padding: 20px;
  border-radius: 20px;
  border: 1px solid var(--borda-card);
  text-align: center;
}

.card-beneficio h3 {
  color: var(--branco);
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-beneficio p {
  color: var(--cinza-texto);
  font-size: 13px;
}

.avaliacoes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-top: 40px;
}

.card-avaliacao {
  background-color: var(--azul-medio);
  border: 1px solid var(--borda-card);
  border-radius: 20px;
  display: flex;
  gap: 20px;
  padding: 20px;
  max-width: 400px;
  color: var(--branco);
}

.card-avaliacao img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.card-avaliacao h4 {
  margin: 0;
  font-size: 16px;
}

.card-avaliacao .profissao {
  font-size: 13px;
  color: var(--cinza-texto);
}

.estrelas {
  color: #00ff91;
  font-size: 14px;
  margin: 5px 0;
}

.skills-box {
  width: 100%;
  max-width: 700px;
  background-color: var(--azul-medio);
  padding: 20px;
  border-radius: 20px;
  margin-top: 40px;
}

.skills-box h3 {
  color: var(--branco);
  margin-bottom: 15px;
  text-align: center;
}

.tags-selecionadas, .tags-populares {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin-bottom: 15px;
}

.tags-selecionadas span,
.tags-populares span {
  background-color: var(--verde-principal);
  color: var(--azul-escuro);
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 13px;
  font-weight: 600;
}

.input-skill {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.input-skill input {
  padding: 10px;
  border-radius: 12px;
  border: none;
  background-color: var(--azul-escuro);
  color: var(--branco);
  width: 300px;
}

.input-skill button {
  background-color: var(--verde-principal);
  border: none;
  padding: 10px 20px;
  border-radius: 12px;
  font-weight: 600;
  color: var(--azul-escuro);
  cursor: pointer;
}

.botao-profissional {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}


.section-clientes {
    width: 1280px;
    min-height: 100vh;
    padding: 60px 0;
    display: flex;
    justify-content: center;
  }

  .container-clientes {
    width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .conteudo-clientes {
    display: flex;
    gap: 40px;
  }

  .filtros-clientes {
    background: var(--azul-medio);
    padding: 20px;
    border-radius: 20px;
    width: 280px;
    color: var(--branco);
  }

  .filtros-clientes input,
  .filtros-clientes button {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 8px;
    border: none;
  }

  .resultados-clientes {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .lista-profissionais {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .card-profissional {
    display: flex;
    background: var(--azul-medio);
    padding: 20px;
    border-radius: 20px;
    gap: 20px;
    animation: fadeIn 0.5s ease forwards;
  }

  .card-profissional img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }

  .botoes button {
    margin-right: 10px;
    background-color: var(--verde-principal);
    color: var(--azul-escuro);
    padding: 8px 12px;
    border-radius: 8px;
    font-weight: bold;
    border: none;
    cursor: pointer;
  }

  @keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
  }
  #map {
  height: 250px;
  width: 100%;
  border-radius: 20px;
}




.section-sobre {
  background-color: #4fa2c3;
  display: flex;
  justify-content: center;

  width: 1280px;
  height: 100vh;
}

.container-sobre {
  background-color: #d716e1;
  width: 1200px;
  height: 100vh;
}

.section-contato {
  background-color: #191E29;
  display: flex;
  justify-content: center;

  width: 1280px;
  height: 100vh;
}

.container-contato {
  width: 630px;
  height: 400px;
  padding: 20px;
  background-color: var(--azul-medio);
  border-radius: 20px;
}

.container-contato h3{
  text-align: center;
  font-size: 15px;
  color: #FFFFFF;
  margin: 20px
}

.input-single{
  position: relative;
  margin: 18px 0;
}

.input-single label{
  position: absolute;
  left: 9px;
  top: 9px;
  color: #FFFFFF;
  font-size: 13px;
}

#text-box{
  height: 30px;
  width: 400px;;
}

#message-box{
  height: 120px;
  width: 400px;
}

.input{
  height: 30px;
  width: 187px;
  border-radius: 10px;
  border: none;
  outline: none;
  color: #FFFFFF;
  background-color: #191E29;
}

.top-form{
  justify-content: center;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.bottom-form{
  text-align: center;
}

.bottom-form label{
  left: 122px;

}

.btn{
  width: 100%;
  text-align: center;
}

form input[type=submit]{
  height: 30px;
  width: 400px;
  cursor: pointer;
  position: relative;
  padding: 5px 20px;
  font-size: 18px;
  color: var(--verde-principal);
  border: 1px solid var(--verde-principal);
  border-radius: 34px;
  background-color: transparent;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  box-shadow: 0px 0px 10px var(--verde-principal);
}

form .input-single .input:focus ~ label,
form .input-single .input:valid ~ label{
  font-size: 0px;
  color: #191E29;
}

footer {
  width: 1280px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.img-footer{
  width: 200px;
  display: flex;
  justify-content: center;
}

.img-footer img{
  width: auto;
  padding: 10px;
  height: 3rem;
}

.menu-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
}

.list-footer {
  gap: 70px;
  display: flex;
  flex-direction: row;
  color: var(--cinza-texto);
}


.divisor{
  width: 100%;
  height: 33px;
}

.divisor hr {
  border: none;
  height: 2px; 
  background: var(--gradient-verde-fade);
  width: 100%;
  margin: 0 auto;
  display: block;
  border-radius: 60px;
}

.texto-efeito {
  position: relative;
  color: var(--cinza-texto);
  font-size: 16px;
  transition: color 0.3s ease;
  padding-bottom: 4px;
  display: inline-block;
}

.texto-efeito:hover {
  color:  var(--verde-principal);
}

.texto-efeito{
  position: relative;
}

.texto-efeito::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  background-color: var(--verde-principal);
  transition: 0.3s ease;
}

.texto-efeito:hover::after {
  width: 100%;
}

.texto-efeito span {
  position: relative;
}

.texto-efeito .seutempo {
  color: var(--verde-principal);
}